<div class="container">
  <% @messages.each do |message|%>
    <% if message.sender.id == current_user.id %>
      <%= render 'shared/sender', message: message %>
    <% else %>
      <%= render 'shared/receiver', message: message %>
    <% end %>
  <% end %>
  <%= render 'message_form',sender_id: 1, receiver_id: 100 %>
</div>
