<div class="row">
  <% (1..4).each do |id| %>
  <%= link_to image_tag("#{id}.png", alt: "Reaction Icon",width: 16, height: 16),"#"%>
    <% if @micropost.reactions.find_by(image_id: id).nil?%>
          0
    <%else%>
          <% @micropost.reactions.find_by(image_id: id).count %>
    <%end%>
  <%end%>
</div>