<div class="container darker">
  <%= link_to gravatar_for(message.receiver, size: 50), message.receiver %>
  <p><%= message.content %></p>
  <span class="time-right"><%= message.created_at %></span>
</div>
