<footer class="footer">
  <small>Intern Learning Project</small>
  <nav>
    <ul>
      <li><%= link_to "About",about_path %> </li>
      <li><%= link_to "Home",root_path %> </li>
      <li><%= link_to "help",help_path %> </li>
      <li><a href="https://dantri.com.vn/" target="new">Dan tri</a></li>
    </ul>
  </nav>
</footer>